<% if notice %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Manage Modules</div>
  <div class="panel-body">
    <%= link_to '<i class="fa fa-plus-square"></i> New Module'.html_safe, new_sfmodule_path, class: "btn btn-success" %>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <td>ID</td>
      <td>Module Name</td>
      <td>Pillar ID</td>
      <td>Created At</td>
      <td>Updated At</td>
      <td>Actions</td>
    </thead>
    <tbody>
      <% @sfmodules.each do |sfmodule| %>
        <tr>
          <td><%= sfmodule.id %></td>
          <td><%= sfmodule.name %></td>
          <td><%= sfmodule.pillar_id %></td>
          <td><%= sfmodule.created_at %></td>
          <td><%= sfmodule.updated_at %></td>
          <td>
            <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_sfmodule_path(sfmodule), class: "label label-primary" %>
            <%= link_to '<i class="fa fa-times"></i> Remove'.html_safe, sfmodule_path(sfmodule), method: :delete, data: { confirm: 'It will remove all associated projects under this module. Are you sure you really want to remove this module?' }, class: "label label-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>