<% if notice %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<div class="panel panel-primary">
	<div class="panel-heading">Admin Login</div>
  <div class="panel-body">
    <div class="col-md-4 col-md-offset-4 ">
    	<br><br>
			<%= simple_form_for :session, url: sessions_path, :html => { :class => 'form-vertical' } do |f| %>
				<%= f.input :login, :placeholder => "Username", :required => false, label: false %>
				<%= f.input :password, :placeholder => "Password", :required => false, label: false %>
				<%= f.button :submit, "Sign In", :class => 'btn-primary' %>
			<% end %>
		</div>
	</div>
</div>